<form action="/users/sign_in" method="post">
  <label for="username">Username</label>
  <input type="text" value="<%= params[:username] %>" name="username"></input>
  <label for="username">Password</label>
  <input type="password" name="password"></input>
  <button type="submit">Sign In</button>
</form>